$primary-color: #8c92f2;
$secondary-color: #d5d7ff;
$primary-color-lighter: #cfd1f1;
$primary-color-darker: #29005b;

$icon-danger: #d22e2e;
$icon-danger-secondary: #b02828;

$black: #000000;
$white: #ffffff;

$danger: #cf3a3a;
$danger-lighter: #f6caca;

$disable-primary-color: #d7d8e0;
$disable-secondary-color: #a4a5ab;