.container-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;

    margin-bottom: 1rem;
}

.container-header__location-options{
    display: grid;
    place-items: center;
    text-align: center;
}

.container-header__location-options__title {
}