.container-no-places-yet {
    border: 2px dashed var(--accent-10);
    border-radius: 0.4rem;
    color: var(--accent-10);

    background-color: #ffffffcf;

    background-image: url("Background-Decoration.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}